{% extends "base.html" %}
    {% load static %}

    {% block content %}


    
    
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Lead customers into <br><em style="color: rgb(245, 60, 60);">better choices.</em></h1>
                        <p> Explore the complete range of lead management tools to get your
                             business the right leads to pursue and generate sales.</p> 
                        <a href="#about" class="main-button-slider">GET A FREE DEMO</a>
                        <p style="margin-top: 20px;"> Join over 1,500 happy businesses using Getlead's superior solutions in a worldwide community.</p> 
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            
                            <img src="{% static 'assets/images/features-icon-2.png' %}" alt="">
                            <h4>Connect</h4>
                            <p>Connect effortlessly with your leads and supercharge your sales journey with Getlead CRM's powerful tools and automation features.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                            <h4>Analyse</h4>
                            <p>Unlock the secrets of success with Getlead CRM's robust analytics, turning customer data into actionable insights for smarter decisions</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            
                            <img src="{% static 'assets/images/features-icon-3.png' %}" alt="">
                            <h4>Convert</h4>
                            <p>Turn leads into revenue and watch your business thrive with Getlead CRM's expert sales conversion tools and strategies</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="{% static 'assets/images/about-icon-01.png' %}" alt="">
                            <div class="text">
                                <h4>Lead Management</h4>
                                <p>Effortlessly streamline your lead management process with Getlead CRM. </p>
                            </div>
                            <a href="" class="main-buttonn">
                                Read More
                            </a>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="{% static 'assets/images/about-icon-02.png' %}" alt="">
                            <div class="text">
                                <h4>Deal Management </h4>
                                <p>Win deals with precision and confidence using Getlead CRM's focus and clarity </p>
                            </div>
                            <a href="" class="main-buttonn">
                                Read More
                            </a>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{% static 'assets/images/about-icon-03.png' %}" alt="">
                            <div class="text">
                                <h4>Task Management</h4>
                                <p>Efficiently  monitor tasks with Getlead CRM's intuitive task management system. </p>
                            </div>
                            <a href="" class="main-buttonn">
                                Read More
                            </a>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{% static 'assets/images/about-icon-03.png' %}" alt="">
                            <div class="text">
                                <h4>Ticket system</h4>
                                <p>Experience efficient issue tracking and resolution with Getlead CRM's ticket system.  </p>
                            </div>
                            <a href="" class="main-buttonn">
                                Read More
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>Sell Better Faster & <em style="color: rgb(234, 91, 91)">Together</em></h2>
                        <p>Supercharge your sales journey with Getlead CRM and sell better, faster, and together, harnessing the power of teamwork and efficiency.</p>
                        <ul class="tickmarks">
                            <li>Collaborate seamlessly</li>
                            <li>Accelerate sales</li>
                            <li>Maximize results</li>
                            <!-- Add more points as needed -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <div class="accordion">
                        <h1 style="color: rgb(228, 88, 88)">FAQ’s</h1>
                        <div class="accordion-item">
                            <input type="checkbox" id="accordion1">
                            <label for="accordion1" class="accordion-item-title"><span class="icon"></span>1.What is Getlead CRM and how does it work?</label>
                            <div class="accordion-item-desc">Getlead CRM is a software-as-a-service (SAAS) customer relationship management tool that helps businesses manage their customer interactions, sales and marketing activities, and data all in one place. It allows you to track leads, manage contacts and accounts, automate sales tasks, and create reports and analyses to help you better understand your customer data.</div>
                        </div>
                    
                        <div class="accordion-item">
                            <input type="checkbox" id="accordion2">
                            <label for="accordion2" class="accordion-item-title"><span class="icon"></span>2.How can Getlead CRM help my business?</label>
                            <div class="accordion-item-desc">Getlead CRM can help your business by providing a central location for all your customer data, allowing you to manage sales and marketing activities more efficiently, and providing valuable insights into customer behavior and preferences.</div>
                        </div>
                    
                        <div class="accordion-item">
                            <input type="checkbox" id="accordion3">
                            <label for="accordion3" class="accordion-item-title"><span class="icon"></span>3.How much does Getlead CRM cost? Are there any hidden fees? </label>
                            <div class="accordion-item-desc">The cost of Getlead CRM will depend on the specific pricing plans offered by the company. You can find the pricing details on the Getlead CRM website. There may be additional costs or fees associated with additional features or integrations, but this would be disclosed in the pricing information.</div>
                        </div>
                    
                        <div class="accordion-item">
                            <input type="checkbox" id="accordion4">
                            <label for="accordion4" class="accordion-item-title"><span class="icon"></span>Can I try Getlead CRM before I subscribe? </label>
                            <div class="accordion-item-desc">Getlead offers a demo version of CRM that you can use to test the software and see if it's right for your business before subscribing. Contact the Getlead CRM customer support team to check if this is available.</div>
                        </div>
                    
                        <h1 style="margin-top: 50px ;color: rgb(234, 90, 90);">"They talk about it better than us"






                        </h1>
                    
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                     <div class="owl-carousel owl-theme">
            
                        
                        <div class="item service-item">
                            
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Author One"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Jonathan Smart</h4>
                                <p>“Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus
                                    urna elit in mauris.”</p>
                                <span>Besta CTO</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Second Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Martino Tino</h4>
                                <p>“Morbi non mi luctus felis molestie scelerisque. In ac libero viverra, placerat est
                                    interdum, rhoncus leo.”</p>
                                <span>Web Analyst</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Author Third"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>George Tasa</h4>
                                <p>“Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                                    congue a fringilla sed, maximus et urna.”</p>
                                <span>System Admin</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{% static 'assets/images/testimonial-author-1.png' %}" alt="Fourth Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Sir James</h4>
                                <p>"Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                                    congue a fringilla sed, maximus et urna."</p>
                                <span>New Villager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    {% endblock %}